{% extends 'base.html' %}

{% block title %} Цветы поштучно {% endblock %}

{% block content %}
    <h3 align="center">Цветы поштучно</h3>
    <ul>
        {% comment %}{% for flower in flowers %}
            <li>{{ flower.title }}</li>
            <img src="{{ flower.img }}" height="150">
        {% endfor %}{% endcomment %}
        {% for flower in flowers %}
            {% if flower.category_id == 3 %}
                <li>{{ flower.product_name }}</li>
                <img src="{{ flower.image }}" height="150">
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}