{% extends 'base.html' %}

{% block title %} Свадьба {% endblock %}

{% block content %}
    <h3 align="center">Свадьба</h3>
    <ul>
        {% comment %}{% for i in wed %}
            <li>{{ i.title }}</li>
            <img src="{{ i.img }}" height="150">
        {% endfor %}{% endcomment %}
        {% for i in wed %}
            {% if i.category_id == 5 %}
                <li>{{ i.product_name }}</li>
                <img src="{{ i.image }}" height="150">
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}